/*PARTE 1*/

body {
    margin: 0;
    padding: 0;
}

.encabezado {
    background: linear-gradient(to bottom, #db3434, #29b963); /* Puedes ajustar los colores del gradiente según tus preferencias */
    padding: 20px;
    text-align: center;
}

.nombre-pagina {
    color: #fff; /* Color del texto */
    font-size: 36px;
    margin: 0;
    transition: text-shadow 0.3s ease; /* Añadir transición para el efecto hover */
}

.nombre-pagina:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Ajustar los valores según tu preferencia para la sombra */
}

/*PARTE 2*/

body {
    margin: 0;
    padding: 0;
}

.menu {
    background: #29b963; /* Color de fondo del menú */
    padding: 10px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff; /* Color del texto en el menú */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease; /* Añadir transición para el efecto hover */
}

a:hover {
    background: linear-gradient(to bottom, #db3434, #29b963); /* Gradiente al pasar el ratón */
}

/* Estilo para el primer enlace (Inicio) */
ul li:first-child a {
    background: #db3434; /* Color de fondo distinto para el primer enlace */
    pointer-events: none; /* Deshabilitar eventos del ratón para el primer enlace */
    cursor: default; /* Cambiar el cursor para indicar que no es un enlace activo */
}

